# Django LTS and plugins
django==1.10.3

# beautiful admin site
# http://grappelliproject.com/
django-grappelli==2.8.1

djangorestframework==3.4.7
markdown==2.6.7
django-filter==0.15.2

django-redis==4.4.4

# logging
rollbar==0.13.8

# unittest
pytest==3.0.4
pytest-django==3.0.0
pytest-cov==2.4.0
